:root {
  --wfb-default-color-1: whitesmoke;
  --wfb-default-color-2: rgba(0, 0, 255, 1);
  --wfb-default-color-2-50a: rgba(0, 0, 255, 0.5);
  --wfb-default-color-2-20a: rgba(0, 0, 255, 0.2);
  --wfb-default-color-2-dark: navy;
  --wfb-default-color-2-light: rgba(173, 216, 230, 1);
  --wfb-default-color-2-light-20a: rgba(173, 216, 230, 0.2);
}

/* button */

button[theme="whiteFlatBlue"] {
  background-color: var(--wfb-default-color-2);
  color: var(--wfb-default-color-1);
  border-radius: 0.5vw;
  border: none;
  outline: none;
  margin: 0.5vw;
}

button[option="shaded"] {
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.8),
    rgba(173, 216, 230, 0.6)
  );
  filter: drop-shadow(4px 4px 4px var(--wfb-default-color-2));
}

button[option="bordered"] {
  background-image: linear-gradient(
    rgba(173, 216, 230, 0.2),
    rgba(173, 216, 230, 0.2)
  );
  filter: drop-shadow(3px 3px 1px var(--wfb-default-color-2-dark));
}

/* tbCell */

tbCell[theme="whiteFlatBlue"] {
  background-color: var(--wfb-default-color-2-50a);
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.2),
    rgba(173, 216, 230, 0.2)
  );
  color: var(--wfb-default-color-1);
  margin: 0.5vw;
  text-align: center;
  border-radius: 0.5vw;
}

/* calendrier */

.calendrier{
  width: min-content;
}

.calendrier svg{
  min-width: 1vw;
  min-height: 1vw;
  fill : var(--wfb-default-color-2-20a);
  border-radius:
}

.calendrier header-content{
  display:grid;
  grid-template-columns:1fr min-content 1fr;
  margin:0.25vw 0;
}

.calendrier btn-prev{
  grid-column:1;
  grid-row:1;
  height:1vw;
  transform: rotateZ(180deg);
  margin-right: 0.5vw;
  margin-left: auto;
  border: 3px solid var(--wfb-default-color-2-20a);
  border-radius: 0.25vw;
}

.calendrier date{
  grid-column:2;
  min-width: 12ch;
  grid-row:1;
  color:var(--wfb-default-color-1);
  background-color: var(--wfb-default-color-2-20a);
  border-radius: 0.5vw;
  width: fit-content;
  margin:auto;
}

.calendrier btn-next{
  grid-column:3;
  grid-row:1;
  height:1vw;
  width:1vw;
  margin-right: auto;
  margin-left: 0.5vw;
  border: 3px solid var(--wfb-default-color-2-20a);
  border-radius: 0.25vw;
}

.calendrier btn-prev:hover , .calendrier btn-next:hover{
  border-color: transparent;
  background-color: var(--wfb-default-color-2-20a);
}

.calendrier btn-prev:hover svg , .calendrier btn-next:hover svg{
  fill:var(--wfb-default-color-1);
}

.calendrier days-container{
  grid-column:3;
  grid-row:1;
  height:1vw;
  width:1vw;
}

.calendrier tbCell.tbCell{
  min-width: 10ch;
  min-height: 50px;
  border: 1px solid var(--wfb-default-color-2-20a);
  margin:0;
  border-radius:0;
}

.calendrier tbCell.tbCell p{
  width: 2ch;
  margin: auto auto 0 0;
}
